<app-nav></app-nav>

<div class="principal">
    <div class="contain bleu">

        <div id="sessionhaut">
          <a href="./../../../assets/Contrat_inscription_Dermoguide.pdf" target="_blank"><div class="bouton">S'inscrire à la session 2023 > </div></a>
        </div>

        <div class="intro text" id="'formation">
          <p>Destinée aux <span>médecins praticiens</span> désireux de rafraichir ou d'approfondir leur connaissance
            en dermatologie, cette formation a pour but de faciliter le décryptage quotidien des pathologies.</p>
          <p>Le cursus comprend <span>six modules</span>, à raison d’une <span>demi-journée</span> par semaine, répartis sur
            une période de sept
            semaines.
    
            La formation comprend une révision des notions de base les plus élémentaires pour permettre dans un second temps
            d'appréhender plus aisément le <span>diagnostic de pathologies plus complexes.</span> </p>
          <p>Les quatre premiers modules consisteront en l’observation minutieuse de multiples cas cliniques commentés de
            manière didactique. Les deux suivant approfondiront deux sujets importants en dermatologie : l’eczéma et le
            psoriasis.</p>
          <p class="italic souligne"> <span>La demande d'accréditation est en cours.</span>
          </p>
    
        </div>
        <img src="./../assets/point.png" alt="point">
     </div>
      <!------------------------------------------------------------------------------------------------------>
      <div class="contain gris">
        <div class="contenu" id="contenu">
          <h3>Contenu de la formation</h3>
          <div class="text">
            Les six modules sont basés sur une anthologie de cas cliniques de pratique courante.
            <br>
            <br>
            Module 1 : introduction, bases de raisonnement, application aux lésions élémentaires.
            <br>
            <br>
            Module 2 : lésions cutanées primaires (macules, papules,…) et modifications secondaires (pustules, érosions,…).
            <br>
            <br>
            Module 3 : études des lésions en fonction de leur disposition : annulaires, linéaires, serpigineuses, en
            bouquets,
            en réseau.
            <br>
            <br>
            Module 4 : analyse des lésions par zones anatomiques (ongles, cheveux, poils…).
            <br>
            <br>
            Module 5 : eczéma constitutionnel, eczéma de contact : de la clinique au traitement.
            <br>
            <br>
            Module 6 : psoriasis : de la clinique au traitement.
            <br>
          </div>
    
        </div>
      </div>
      <!---------------------------------------------------------------------------------------------------------------->
      <div class="contain">
        <div class="duree" id="duree">
          <h3>Durée</h3>
          <div class="text">La formation commence en janvier 2023 et s'étale sur sept semaines à raison d’une demi-journée
            par semaine,
            le <span>samedi</span>.
            <br>
            <br>
            <span>Dates</span> prévues :
            <br>
            <ul>
              <li>28 janvier</li>
              <li>4, 11 et 25 février (pause le samedi 18 février)</li>
              <li>4 et 11 mars.</li>
            </ul>
            <br>
            <span>Programme </span>
            type :
            <br>
            <ul><li>9h00 - 9h30 : accueil des participants (avec petit-déjeuner)</li>
            <li>9h30 - 10h15 : module 1<sup>e</sup> partie</li>
            <li>10h15 - 10h30 : pause</li>
            <li>10h30 - 12h00 : module 2<sup>e</sup> partie</li></ul>
            
          </div>
        </div>
    <!------------------------------------->
        <div class="lieu">
          <h3>Lieu</h3>
          <div class="gd">
            <div class="text">
              La formation se donne au <span>Centre Régional Psychiatrique Les Marronniers</span> , rue Despars 94, 7500
              <span>Tournai</span> .
              <br>
              <br>
              Parking gratuit à disposition des participants.
            </div>
            <img src="./../assets/marronnier.png" alt="marronnier">
          </div>
        </div>
    <!------------------------------------->
        <div class="propos" id="apropos">
          <h3>A propos de nous</h3>
          <div class="gd">
            <div class="text">
              Ce cursus est proposé en partenariat avec le centre Régional Psychiatrique Les Marronniers.
              <br>
              <br>
              L'intervenant est le Docteur Anne MATHIEU, dermatologue expérimentée tant en médecine hospitalière qu’en
              médecine libérale, formée à Paris VII Lariboisière - Saint Louis.
            </div>
            <img src="./../assets/anne.png" alt="anne">
          </div>
    
    
        </div>
      </div>
      <!---------------------------------------------------------------------------------------------------------->
      <div class="bleuclair contain">
        <div class="inscription" id="inscription">
          <h3>Inscription</h3>
          <div class="text">Tous les détails liés à la procédure d'inscription et aux conditions générales sont disponibles
            dans le
            document à télécharger ci-dessous : </div>

          <div id="sessionbas">
            <img src="./../../../assets/fleched.png" alt="fleche">
            <div class="bouton"><a href="./../../../assets/Contrat_inscription_Dermoguide.pdf" target="_blank">S'inscrire à la session 2023</a> </div>
            <img src="./../../../assets/flecheg.png" alt="fleche">
          </div>

        </div>
        <div class="contact" id="contact">
          <h3>Contact</h3>
          <div class="text">N'hésitez pas à nous écrire, nous vous recontacterons dans les meilleurs délais :
           <span>dermoguide@gmail.com</span> 
          </div>
        </div>
      </div>
</div>

<app-footer></app-footer>