<div class="container">

<app-nav></app-nav>

<div class="legal">
   <div>
    WABLA SRL
    <br>
    <br>
    BE0645605472
    <br>
    <br>
    RPM Bruxelles
    <br>
    <br>
    Tomberg 176, 1200 Bruxelles
    <br><br>
    biwe@wabla.be<br><br>
    Les droits de propriété intellectuelle de ce site web appartiennent exclusivement à WABLA SRL.
    <br>
    <br>
    Toute copie, adaptation, traduction, arrangement, ou autre exploitation, modification de tout ou partie sous quelle que forme que ce soit et par quelque moyen que ce soit est interdit, sauf accord préalable et écrit de WABLA SRL.
    <br>
    Le contenu de la base de données est protégé par le droit sui generis qui autorise le producteur à interdire toute extraction ou réutilisation de tout ou partie de ce contenu.
    <br>
    <br>
    Les logos exposés sur ce site sont légalement protégés. Tout usage d’un de ces logos ou de signes ressemblants ainsi que de la dénomination sociale est strictement interdit sans l'accord préalable et écrit de WABLA SRL et Technicity.brussels.
    </div>
</div>

<app-footer></app-footer>

</div>